h1 {
    background-color: #90c6e9;
    color: #05FBFF;
    font-size: 3.0em
}

body {
    text-align: center;
    background: linear-gradient(#05FBFF, #ffffff);
}

table.type05 {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}
table.type05 th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
table.type05 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
