h1 {
    background-color: #1E90FF;
    color: #05FBFF;
    font-size: 3.0em
}

body {
    text-align: center;
    background: linear-gradient(#05FBFF, #ffffff);
}

table.type05 {
	border-collapse: separate;
    position: relative;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}
table.type05 th {
	width: 115px;
	padding: 7px;
	border-bottom: 1px solid #ccc;
	background: #ADD8E6;
}
table.type05 td {
	width: 350px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
